@model ProxyViewModel

@{
    ViewData["Title"] = "New Proxy";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.User.IsAdmin)
            {
                <div class="form-group">
                    <label asp-for="DiscordUserId" class="control-label"></label>
                    <select asp-for="DiscordUserId" asp-items="ViewBag.VisibleUsers" class="form-control"></select>
                    <span asp-validation-for="DiscordUserId" class="text-danger"></span>
                </div>
            }
            else
            {
                <input type="hidden" id="UserDiscordId" name="UserDiscordId" value="@ViewBag.DiscordUserId"/>
            }
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prefix" class="control-label"></label>
                <input asp-for="Prefix" class="form-control" />
                <span asp-validation-for="Prefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suffix" class="control-label"></label>
                <input asp-for="Suffix" class="form-control" />
                <span asp-validation-for="Suffix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biography" class="control-label"></label>
                <textarea asp-for="Biography" class="form-control"></textarea>
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>
            @if (ViewBag.User.IsAllowedGlobal)
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsGlobal" /> @Html.DisplayNameFor(model => model.IsGlobal)
                    </label>
                </div>
            }
            <div class="form-group">
                <label asp-for="Channels" class="control-label"></label>
                <select asp-for="Channels" asp-items="ViewBag.Channels" multiple="multiple" class="form-control"></select>
                <span asp-validation-for="Channels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                <input type="file" asp-for="Avatar" class="form-control"/>
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
