@model string
@{
    ViewData["Title"] = "Access Denied";
}

<div class="card">
    <div class="card-header">
        <h1>Access Denied</h1>
    </div>
    <div class="card-body">
        <p>
            You thought that there was content here... <strong>WE LIED</strong><br />
            You didn't ask me nice enough... <strong>DENIED!</strong><br />
            Configuration says you're bad and so there's no page to be had<br />
            Instead you get to hide your face and cry<br />
        </p>
    </div>
    <div class="card-footer">Apparently there's no access to @Model for you.</div>
</div>
